    name  age  country
0   John   25      USA
1   Anna   32  Germany
2  Peter   18   France
3  Linda   41   Canada
0     John
1     Anna
2    Peter
3    Linda
Name: name, dtype: object
    name country
0   John     USA
2  Peter  France
             age
count   4.000000
mean   29.000000
std     9.831921
min    18.000000
25%    23.250000
50%    28.500000
75%    34.250000
max    41.000000

In [1]:
import pandas as pd
df=pd.read_csv('gk.csv')

In [2]:
df

,Player,Doğan Alemdar,Alisson,Sergio Asenjo,Emil Audero,Daniel Bachmann,Édgar Badía,Stefan Bajic,Oliver Baumann,Vid Belec,...,Wojciech Szczęsny,Ciprian Tătărușanu,Marc-André ter Stegen,Pietro Terracciano,Kevin Trapp,Sven Ulreich,Guglielmo Vicario,Robin Zentner,Luca Zidane,Jeroen Zoet
0,Doğan Alemdar,0.003210,0.595253,0.356452,0.530675,0.349094,0.527193,0.342222,0.590913,0.504765,...,0.606447,0.364920,0.618065,0.573741,0.656843,0.348699,0.703841,0.523314,0.354285,0.316271
1,Alisson,0.638951,0.003144,0.579488,0.602301,0.796571,0.582167,0.772453,0.368031,0.757928,...,0.383256,0.761240,0.286591,0.505152,0.457867,0.704991,0.614513,0.403112,0.717779,0.790776
2,Sergio Asenjo,0.388150,0.570585,0.003101,0.563567,0.455607,0.581192,0.402045,0.567652,0.462373,...,0.614028,0.443321,0.566248,0.744269,0.598015,0.379913,0.777852,0.579215,0.413333,0.437957
3,Emil Audero,0.556988,0.595884,0.558512,0.003202,0.587444,0.433718,0.692262,0.297503,0.198218,...,0.480342,0.708143,0.450085,0.494950,0.387869,0.744134,0.481780,0.396982,0.641405,0.631743
4,Daniel Bachmann,0.363136,0.776749,0.434747,0.573876,0.006995,0.536492,0.284893,0.702068,0.393050,...,0.757616,0.313532,0.743110,0.560078,0.653574,0.312946,0.625683,0.673595,0.201612,0.283648
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,Sven Ulreich,0.386350,0.706876,0.371537,0.753625,0.335274,0.755189,0.209928,0.689508,0.662993,...,0.755320,0.286315,0.707856,0.573968,0.753888,0.003045,0.725466,0.710120,0.311715,0.320422
140,Guglielmo Vicario,0.753835,0.606720,0.786795,0.475422,0.646028,0.522679,0.759748,0.363055,0.542128,...,0.444504,0.738277,0.452390,0.462062,0.424526,0.719176,0.003067,0.446198,0.728530,0.713190
141,Robin Zentner,0.544856,0.393051,0.577730,0.394903,0.673800,0.431870,0.731411,0.228416,0.474596,...,0.496845,0.779771,0.439068,0.444986,0.293978,0.692601,0.435737,0.003164,0.720529,0.675922
142,Luca Zidane,0.371433,0.694816,0.395182,0.625918,0.205575,0.667501,0.295583,0.724641,0.526508,...,0.694810,0.228280,0.654192,0.561112,0.733927,0.295653,0.705227,0.716762,0.003077,0.331795
143,Jeroen Zoet,0.329428,0.762084,0.414018,0.610718,0.285508,0.725793,0.372088,0.664350,0.484900,...,0.718149,0.347658,0.678820,0.597205,0.757172,0.298753,0.685375,0.666260,0.330333,0.003136

In [14]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

In [15]:
df=pd.read_csv('gk_info.csv')
df

,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,Min,...,launch_pass%,pass_avglen,Gk_att,Gk_launched%,Gk_avglen,Stp,Stp%,#OPA,#OPA/90,AvgDist
0,Julen Agirrezabala,ESP,GK,Athletic Club,La Liga,20,2000,4,4,360,...,33.9,33.1,26.0,46.2,36.0,1.0,2.1,6.0,1.50,17.5
1,Doğan Alemdar,TUR,GK,Rennes,Ligue 1,18,2002,12,12,1080,...,27.4,30.3,70.0,84.3,54.9,8.0,5.5,24.0,2.00,19.1
2,Alisson,BRA,GK,Liverpool,Premier League,28,1992,36,36,3240,...,16.5,26.3,172.0,33.1,33.4,22.0,6.5,89.0,2.47,18.7
3,Alphonse Areola,FRA,GK,West Ham,Premier League,28,1993,1,1,90,...,69.2,46.3,14.0,71.4,48.5,1.0,6.7,0.0,0.00,5.5
4,Kepa Arrizabalaga,ESP,GK,Chelsea,Premier League,26,1994,4,4,360,...,19.7,26.4,21.0,28.6,27.6,2.0,4.5,8.0,2.00,18.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,Freddie Woodman,ENG,GK,Newcastle Utd,Premier League,24,1997,4,4,360,...,50.6,38.1,39.0,66.7,47.9,3.0,5.5,0.0,0.00,7.8
213,Robin Zentner,GER,GK,Mainz 05,Bundesliga,26,1994,32,32,2880,...,36.9,34.4,236.0,44.9,39.4,29.0,6.9,68.0,2.13,17.9
214,Luca Zidane,FRA,GK,Rayo Vallecano,La Liga,23,1998,8,8,645,...,36.0,34.6,53.0,56.6,46.6,9.0,10.0,6.0,0.84,11.0
215,Jeroen Zoet,NED,GK,Spezia,Serie A,30,1991,7,7,630,...,26.9,30.7,54.0,37.0,37.4,2.0,2.1,6.0,0.86,16.4
216,Petar Zovko,BIH,GK,Spezia,Serie A,19,2002,1,0,29,...,37.5,35.9,2.0,50.0,35.0,0.0,0.0,2.0,6.21,28.5

In [16]:
df = df.drop_duplicates(['Player'], keep='last')
df

,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,Min,...,launch_pass%,pass_avglen,Gk_att,Gk_launched%,Gk_avglen,Stp,Stp%,#OPA,#OPA/90,AvgDist
0,Julen Agirrezabala,ESP,GK,Athletic Club,La Liga,20,2000,4,4,360,...,33.9,33.1,26.0,46.2,36.0,1.0,2.1,6.0,1.50,17.5
1,Doğan Alemdar,TUR,GK,Rennes,Ligue 1,18,2002,12,12,1080,...,27.4,30.3,70.0,84.3,54.9,8.0,5.5,24.0,2.00,19.1
2,Alisson,BRA,GK,Liverpool,Premier League,28,1992,36,36,3240,...,16.5,26.3,172.0,33.1,33.4,22.0,6.5,89.0,2.47,18.7
3,Alphonse Areola,FRA,GK,West Ham,Premier League,28,1993,1,1,90,...,69.2,46.3,14.0,71.4,48.5,1.0,6.7,0.0,0.00,5.5
4,Kepa Arrizabalaga,ESP,GK,Chelsea,Premier League,26,1994,4,4,360,...,19.7,26.4,21.0,28.6,27.6,2.0,4.5,8.0,2.00,18.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,Freddie Woodman,ENG,GK,Newcastle Utd,Premier League,24,1997,4,4,360,...,50.6,38.1,39.0,66.7,47.9,3.0,5.5,0.0,0.00,7.8
213,Robin Zentner,GER,GK,Mainz 05,Bundesliga,26,1994,32,32,2880,...,36.9,34.4,236.0,44.9,39.4,29.0,6.9,68.0,2.13,17.9
214,Luca Zidane,FRA,GK,Rayo Vallecano,La Liga,23,1998,8,8,645,...,36.0,34.6,53.0,56.6,46.6,9.0,10.0,6.0,0.84,11.0
215,Jeroen Zoet,NED,GK,Spezia,Serie A,30,1991,7,7,630,...,26.9,30.7,54.0,37.0,37.4,2.0,2.1,6.0,0.86,16.4
216,Petar Zovko,BIH,GK,Spezia,Serie A,19,2002,1,0,29,...,37.5,35.9,2.0,50.0,35.0,0.0,0.0,2.0,6.21,28.5

In [17]:
conn = psycopg2.connect(
    host="localhost",
    database="final",
    user="postgres",
    password="password"
)

In [18]:
engine = create_engine('postgresql+psycopg2://postgres:password@localhost:5432/final')

In [19]:
df.to_sql('info', engine, if_exists='replace', index=False)

216

In [20]:
import mysql.connector

In [27]:
mydb=mysql.connector.connect(host="localhost",user="root",password="password",database="football")

In [28]:
df=pd.read_csv('sheet.csv')
df

  id     a    b     c     d     e     f     g
0  a  1.00  0.2  0.40  0.22  0.35  0.50  0.11
1  b  0.20  1.0  0.10  0.30  0.70  0.90  0.20
2  c  0.40  0.1  1.00  0.30  0.44  0.34  0.23
3  d  0.22  0.3  0.30  1.00  0.11  0.44  0.20
4  e  0.35  0.7  0.44  0.11  1.00  0.50  0.10
5  f  0.50  0.9  0.34  0.44  0.50  1.00  0.40
6  g  0.11  0.2  0.23  0.20  0.10  0.40  1.00

In [29]:
df.to_sql('Goalkeeper', con=mydb, if_exists='replace', index=False)

C:\Users\DELL\AppData\Local\Temp\ipykernel_16736\1206253630.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df.to_sql('Goalkeeper', con=mydb, if_exists='replace', index=False)

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': Not all parameters were used in the SQL statement

In [ ]:
import pandas as pd
from unidecode import unidecode

# Load CSV file
df = pd.read_csv('of.csv')

# Apply unidecode to column names
df.columns = [unidecode(col) for col in df.columns]

# Apply unidecode to column with Unicode text
df['Player'] = df['Player'].apply(unidecode)

# Save updated data to a new CSV file
df.to_csv('outfield_info.csv', index=False, encoding='utf-8')